/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*===========================| DESIGNED BY  HOSSAM HILAL |=========================*/
/*=================================================================================*/
/*=================================================================================*/
/*====================================|| 2018 ||===================================*/
/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/



@font-face {
  font-family: 'Myfont';
  src: url('../fonts/CoconNextArabic-Light.eot');
  src: url('../fonts/CoconNextArabic-Light.woff2') format('woff2'),
       url('../fonts/CoconNextArabic-Light.woff') format('woff'),
       url('../fonts/CoconNextArabic-Light.ttf') format('truetype'),
       url('../fonts/CoconNextArabic-Light.svg#CoconNextArabic-Light') format('svg'),
       url('../fonts/CoconNextArabic-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




body
{
    direction: rtl;
    font-family: 'Myfont';
    background: #f5f6f8;
	overflow-x: hidden;
}


a {color: #fff; text-decoration: none !important; }

a:hover {    color: #fff;}

 h3
{
  font-size: 20px;
  color: #2b454e;
  border-bottom: 1px solid #00e573;
  width: 170px;
  margin: 0 auto 6px;
  padding-bottom: 8px;
}

input::placeholder { color:#ced6e6 !important; }

.vark-greenbtn
{
    width: 100%;
    height: 45px;
    font-size: 20px;
    background: #00e573;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 3px 6.37px 0.63px rgba(196, 205, 223, 0.27) !important;
    line-height: 33px;
}

.vark-bluebtn
{
    width: 100%;
    height: 45px;
    font-size: 20px;
    background: #54c0eb;
    border-radius: 25px;
    margin-top: 20px;
    line-height: 33px;
}

.form-control
{
    border-color: transparent;
}
.form-control:focus 
{
    color: #495057;
    border-color: #ece6e6;
    box-shadow: 0 0 0px 0px rgba(166, 170, 174, 0.3);
    box-shadow: 0px 3px 6.37px 0.63px rgba(196, 205, 223, 0.27);
}

 h3
{
  font-size: 20px;
  color: #2b454e;
  border-bottom: 1px solid #00e573;
  width: 170px;
  margin: 0 auto 6px;
  padding-bottom: 8px;
    text-align: center;
}

/*
colors

   first         color   : #00e573 ;
   second        color   : #54c0eb ;

   body          bgcolor : #f5f6f8 ;
   Nav           bgcolor : #ffffff ;

   input         color   : #ced6e6 ;
                 color   : #50646b ;
   text          color   : #71a8bb ;

   class label   color   : #4fbf9f ;
   class text    color   : #2b454e ;

   reeding       color   : #fe972b ;
   visual        color   : #ff6060 ;
   movement      color   : #bd8cbf ;
   listener      color   : #04cecd ;

   box           bgcolor : #f0fff8 ;
*/

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*==============================================//  HOME PAGE   //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.home-page
{
    padding: 10px 0 20px 0;
    text-align: center;
}

.home-page h3 { margin-top: 30px;}

.home-page p
{
  color: #71a8bb;
  font-weight: 600;
  font-size: 14px;
    margin-bottom: 30px;
}

.home-student
{
    margin-bottom: 20px;
}

.home-page img 
{
    border-radius: 50%;
    border: 3px solid transparent;
    width: 120px;
    height: 120px;
    box-shadow: 0px 3px 6.37px 0.63px rgba(196, 205, 223, 0.27);
}

.home-page h4
{
    color: #54c0eb;
    font-size: 15px;
    margin: 10px;
}


/*
.home-act-avatar img
{
    border-color: #00e573;
} 

.home-act-avatar h4
{
    color: #00e573;
}
*/
.home-teacher  , 
.home-student
{
    position: relative;
}

/* Stuff after this is only to make things more pretty */
/*
input[type=radio] + label>img {
     border: 1px solid transparent;
     width: 120px;
     height: 120px;
     transition: 500ms all;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

#student-chosen ,
#teacher-chosen
{
    position: absolute;
    top: 38%;
    right: 47%;
    opacity: 0;
}

/*input[type=radio]:checked + .home-page h4 {  color: #00e573; }*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*==============================================// TEACHER LOG  //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/


.teacher-log
{
    text-align: center;
    padding: 20px 0;
}


.teacher-log p 
{
    color: #71a8bb;
    font-size: 14px;
    max-width: 210px;
    margin: auto;
}

.form-fld img 
{
  height: 16px;
  width: 16px;
  position: absolute;
  right: 13px;
  top: 18px;
}

.teacher-form
{
  padding: 20px 0 0 0;
}

.form-fld input 
{
  border-radius: 25px;
  height: 50px;
  font-size: 15px;
  padding-right: 36px;
}

.form-fld
{
  position: relative;
  margin-bottom: 20px;
}

.forg-pass 
{
    float: left;
    margin: 0;
    font-size: 13px !important;
}

.or
{
    color: #2b454e !important;
    padding-top: 20px;
    font-size: 20px !important;
    margin-bottom: 0;
}


/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================// TEACHER REGISTER  //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.teacher-reg {

    padding: 20px 0 0 0;
    text-align: center;

}

.teacher-reg input 
{
    height: 45px;
}

.teacher-reg p 
{
    color: #71a8bb;
    font-size: 14px;
    max-width: 210px;
    margin: auto;
}


.teacher-reg  .btn { height: 45px;}

.teacher-reg .form-fld img 
{
    right: 12px;
    top: 14px;
}



/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*===========================================//          Header   //===============================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.vark-header
{
    height: 50px;
    width: 100%;
    background-color: #fff;
/*    position: fixed;*/
    top: 0;
    z-index: 9;
/*    box-shadow: 0px 3px 6.37px 0.63px rgba(196, 205, 223, 0.27);*/
    box-shadow: 0px 1px 6.37px 0.63px rgba(196, 205, 223, 0.27);
}

.vark-header .icofont 
{
  color: #00e573;
  font-size: 25px;
    height: 50px;
  line-height: 60px;
}




.vark-header .logo 
{
    padding: 0px;  
    color: #2b454e;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
/*    padding-right: 25px;*/
    text-align: center;

}

.vark-header .menu 
{
    position: absolute;
    right: 12px;
    top: -5px;
    text-align: right;
}

.nav .ico-close 
{
    position: absolute;
    left: 10px;
    top: -10px;
}


.nav 
{
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #f5f6f8;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    z-index: 9999;
}

.nav.nav-view {    transform: translateX(0);  }

.nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: 100%;
    padding-top: 50px;
}

.nav ul li 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li a 
{
    color: #2b454e;
    text-align: center;
    padding: 12px;
    border-bottom: solid 1px rgba(213, 210, 210, 0.4);
    text-decoration: none;
}

/*
.nav.nav-view::after 
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 100%;
    height: 100vh;
    width: calc(100vw - 250px);
       background: rgba(14, 167, 10, 0.6);
    background: #02b75d;
    opacity: .7;
}
*/


.nav-overlay {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: rgba(14, 167, 10, 0.6);
}




/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*==========================================// TEACHER HOME PAGE  //===============================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/


.teacher-home-bdy
{
    position: relative;
    z-index: 0;
}

.btn.vark-greenbtn img {

    width: 20px;
    height: 20px;

}

.teacher-home-bdy .btn {

    height: 45px;

}

.class-box {

    margin: 10px 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;

}

.class-box img {

    height: 75px;
    width: 75px;

}

.class-box .col-8 {

    padding-right: 0;

}

.class-data ul {

    list-style: none;
    padding: 10px 0 0 0;
    text-align: right;
    margin: 0;

}

.class-data label {

    color: #4fbf9f;
    margin-left: 5px;

}

.class-data li 
{
    color: #2b454e;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*===========================================//    CLASS PAGE   //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.class-info 
{
  background: #f0fff8;
  margin: 20px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.class-info ul 
{
  padding: 0;
}

.class-info label 
{
  color: #40ec96;
}

.class-page-bdy .btn
{
  margin: 0;
}


.class-page-bdy .col {

    padding: 0;

}

.class-type-box {

    text-align: center;
    font-size: 13px;
    margin-top: 20px;

}

.class-type-box img {

    height: 20px;
    width: 20px;
    margin-bottom: 10px;

}


.class-type-box p {

    margin: 0;

}




.reeding { color: #fe972b ; }
.visual  { color: #ff6060 ; }
.moving { color: #bd8cbf ; }
.listner  { color: #04cecd ; }
.not-complete { color: #737373 ; }






.table {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.tb-st-name { color: #00e573 ;}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}

.table thead th {
    border-bottom: 1px solid #dee2e6;
        border-bottom-width: 1px;
    font-weight: 500;
}

.table-bordered {
    border: 0;
}

.class-students-table {
  margin: 20px 0;
}

thead {
    text-align: center;
}

tbody {
    text-align: right;
}


thead tr th {
  border-top:  none !important;
}

thead tr th:nth-child(1) {
  border-right: 0;
}

thead tr th:nth-child(3) {
  border-left: 0;
}

.table th, .table td {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}

.table img {
  height: 14px;
  width: 20px;
  float: right;
    margin-top: 13px;
    margin-left: 10px;
}

.not-comp {
    height: 4px !important;
    margin-top: 18px !important;
}

.right-cell 
{
    border-right: 0 !important; 
    text-align: center;
    font-weight: 500; 
    font-size: 14px;
}

.left-cell 
{ 
    border-left: 0 !important;
    font-weight: 500;
    font-size: 14px;
}

.centr-cell
{ 
    font-weight: 500;
    font-size: 14px;
}

.table-bordered th ,
.table-bordered td
{  
    border: 1px solid #e2f5dc;
}
    
tbody tr:last-child .right-cell ,
tbody tr:last-child .left-cell ,
tbody tr:last-child .centr-cell
{
    border-bottom: 0 ;
}


/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*===============================================//  ADD CLASS  //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.add-class-pic {
    margin-top: 20px;
}

.small-pic {
    height: 100px;
    width: 100px;
    padding: 1px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #f3f3f3;
    margin: auto;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

 .small-pic  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    right: 0;
    bottom: 0;
}


.class-code-box {

    margin: 20px 0;
    background: #f0fff8;
    border-radius: 25px;
    height: 45px;
    padding: 0 20px;

}

.icofont.icofont-arrow-right {  font-size: 22px;}


/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*===============================================// TEACHER CV  //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/



/*
.about-teacher
{
  margin: 20px 0;
  background: #f0fff8;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
}
*/

.about-teacher
{
  margin: 20px 0;
/*  */
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.colord-box { background: #f0fff8; margin-bottom: 30px; }

.about-teacher h5 
{
  color: #40ec96;
	margin-bottom: 30px;
}

.about-teacher img
{
	border-radius: 10px;
	margin-bottom: 30px;
}

.about-teacher p 
{
  margin: 0;
  font-size: 14px;
}


.vark-header .logo .icofont {
    float: left;
    font-size: 18px;
    line-height: 50px;
}


.input-file-container {
  position: relative;
  width: 225px;
	margin: 40px auto 20px auto;
} 

.js .input-file-trigger {
  display: block;
  padding: 8px 8px;
  background: #00e573;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #00e573;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}






/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================//     ABOUT APP     //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/



.about-app-pic
{
  text-align: center;
  padding: 20px 0;
}

.about-app-pic img 
{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin: auto;
}


.about-app-data 
{
  background: #f0fff8;
  text-align: right;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}

.about-app-data ul
{
  padding: 0;
  list-style: none;
  margin: 0;
}

.about-app-data p{
    margin: 0;
}






/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================//  STUDENT HOME     //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/



.stud-home-bdy {
  text-align: center;
  padding: 50px 0;
}
.stud-home-bdy p {
  font-size: 20px;
  max-width: 230px;
  margin: auto;
  margin-bottom: 50px;
}




/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=============================//  STUDENT HOME  AFTER  EXAM    //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/



.stud-class-page label
{
  color: #40ec96;
}



.class-teacher-box ,
.class-exam-box ,
.class-instruction 
{
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: right;
  font-size: 14px;
}

.class-exam-box img
{
  height: 10px;
  width: 14px;
}



.class-instruction
{
  padding: 10px !important;
}

.class-instruction ul
{
  list-style: none;
  padding: 0px 12px 0 0;
}


.class-instruction li 
{
  position: relative;
  height: 25px;
}

.class-instruction li::before 
{
  content: "";
  width: 5px;
  height: 5px;
  background: #3f3f3f;
  position: absolute;
  right: -10px;
  border-radius: 50%;
  top: 8px;
}



/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================//  STUDENT CLASS     //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/



.stud-class-page .class-code-box {
    height: auto;
    border-radius: 10px;
}



/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================//  STUDENT EXAM     //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/


.exam-box
{
  padding: 30px 0 10px 0;
  text-align: right;
}

.exam-box p
{
  color:  #00e750;
}

.exam-box ul
{
  padding: 0;
  list-style: none;
}

.exam-box li
{
  background: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.answer
{
    display: block;
    position: relative;
    padding-right: 29px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.answer input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */
.checkmark 
{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color:  #00e750;
}


/* On mouse-over, add a grey background color */
.answer:hover input ~ .checkmark
{
    background-color: #00e750;
}


/* When the checkbox is checked, add a blue background */
.answer input:checked ~ .checkmark
{
    background-color:  #00e750;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.answer input:checked ~ .checkmark:after
{
    display: block;
}

/* Style the checkmark/indicator */
.answer .checkmark::after 
{
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #00e750;
    content: "\2713";
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding-top: 1px;

}




.exam-box label 
{
  font-size: 14px;
  margin-bottom: 0;
}


.answer .checkmark::before
{

    height: 16px;
    width: 16px;
    content: "";
    background: #fff;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 0;

}


.exam-btns
{
  display: flex;
  direction: ltr;
  padding: 0;
}

.exam-btns .col-6:nth-child(2) 
{
  padding-right: 0;
}

.exam-btns .col-6:nth-child(1) 
{
  padding-left: 0;
}










/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*=========================================//  STUDENT EXAM     //=================================================*/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/


.exam-result-page
{
    padding: 20px 0;
    text-align: center;
}


.exam-result-page h6 
{
    color: #00e750;
    font-size: 30px;
    margin: 0;
}


.exam-result-page .class-instruction label 
{
  color: #00e750;
}



.mywhitebtn {
    background: #fff;
    border: #fff;
    cursor: pointer;
    width: 100%;
    padding: 0 10px 10px 10px;
}



.mywhitebtn:hover,
.mywhitebtn:focus,
.mywhitebtn:active 
{
    background: #fff !important;
    box-shadow: none !important;
    border-color: #fff !important;
    cursor: pointer;
}

.exam-result-page p {
    padding: 10px;
}

.ex-res label { margin: 0;}


#accordion .card {
    
    border-radius: 10px;
    background: transparent;
    border: none;
}

#accordion  .class-exam-box { margin-bottom: 20px;}

.card .class-data p {

    padding: 10px;

}



.save-teacher-info {
  text-align: center;
  width: 100px;
  background: #fff;
  border-radius: 25px;
}
.about-teacher textarea {
  height: 150px;
  resize: none;
}
.class-page-bdy form {
  text-align: center;
}


.forgetpass-page .pass-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}

.forgetpass-page {
    padding-top: 40px;
}



#dropdownMenuButton {
  background: transparent;
  border: 0;
  width: 20px;
  margin-left: 15px;
}

#dropdownMenuButton:focus{ box-shadow: none;}
.edit-calss-menue {
  position: absolute;
  left: 0;
  top: 0;
}
.edit-calss-menue img {
  height: 20px;
  width: 20px;
}
.edit-calss-menue .dropdown-menu {
  width: 80px !important;
  text-align: center;
  padding: 0;
  margin: 0;
  min-width: 100px;
  border: 0;
}
.edit-calss-menue .dropdown-item {
  width: 100px;
  padding: 0;
}

.class-info .small-pic {border: 0px; margin-bottom: 40px;}

.class-data input { border-radius: 25px; margin-bottom: 20px;}

.class-data .save-teacher-info { margin-top: 40px;}

.table-ul {
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  margin: 0;
}
.table-ul img {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-top: 16px;
}
.table-ul li:nth-child(1) {
  margin-left: 10px;
}